<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
       


      
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" />
      
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
      
<script src="Scripts/angularjs-dropdown-multiselect.js"></script>
<script src="Scripts/MyApp.js"></script>
      


<style>
    .body-content{padding-top:50px}
    .checkbox{padding:0;margin:0;}
    .dropdown-menu{overflow:auto !important;}
    .form-group div{display:inline-block; margin-right:10px}
</style>

<div ng-app="MyApp" ng-controller="multiselectdropdown">
    <div class="container" style="margin:50px">
        <form class="form-inline" name="myForm" role="form" ng-submit="SubmitData()">
            <div class="form-group">
                <label>Subscribe for categories : </label>
                <div ng-dropdown-multiselect="" extra-settings="dropdownSetting" 
                     options="Categories" selected-model="CategoriesSelected" checkboxes="true"></div>
{{CategoriesSelected}}
                     <div ng-dropdown-multiselect="" extra-settings="dropdownSetting" 
                     options="Categories1" selected-model="CategoriesSelected1" checkboxes="true"></div>
                     {{CategoriesSelected1}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            
        </form>

        <div style="margin-top:40px" ng-if="SubmittedCategories.length > 0">
            <h2>Selected Categories</h2>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Category Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cat in SubmittedCategories">
                        <td>{{cat.CategoryID}}</td>
                        <td>{{cat.CategoryName}}</td>
                    </tr>
                </tbody>
            </table>  
        </div>

    </div>
</div>


    </div>

    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script> -->
</body>
</html>